body{
    background-color: rgb(162, 160, 160);
}
section{
    background-color: black;
    color: white;
    width: 18rem;
    height: 26rem;
    box-shadow: 2px 2px 2px ghostwhite;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1.5rem 0 0 0;
}
button{
    font-size: 1.25rem;
    width: 2.75rem;
    height: 2.75rem;
    margin: 0.5rem 0.3rem;
    border-radius: 6px;
}
#container{
    margin: 1rem 0rem 0 1.75rem;
}
#outputBox{
    border: rgb(158, 158, 158) 3px solid;
    background-color: rgb(244, 222, 196);
    color: black;
    width: 73%;
    font-size: 2rem;
    text-align: end;
    margin: 0.5rem 2rem;
}
.operation{
    background-color: orange;
}
#clear{
    width: 13.5rem;
    background-color: rgb(248, 83, 83);
}