body{
    background-color: rgb(162, 160, 160);
}
section{
    background-color: black;
    color: white;
    width: 18rem;
    height: 28rem;
    box-shadow: 2px 2px 2px ghostwhite;
    border-radius: 5px;
    margin: 12rem auto;
    padding: 1.5rem 0 0 0;
}

button{
    font-size: 1.25rem;
    width: 2.75rem;
    height: 2.75rem;
    margin: 0.5rem 0.3rem;
    border-radius: 10px;
    border: 1px black solid;
}
button:active{
    background-color: rgb(138, 137, 137);
}
#container{
    margin: 1rem 0rem 0 1.75rem;
}
#outputBox{
    border: rgb(158, 158, 158) 3px solid;
    background-color: rgb(244, 222, 196);
    color: black;
    width: 73%;
    height: 2.5rem;
    font-size: 2rem;
    text-align: end;
    padding: 0.5rem 0;
    margin: 0.75rem 2rem;
}
.orange{
    background-color: orange;
    color: white;
}
#clear{
    width: 6.5rem;
    background-color: rgb(248, 83, 83);
}
